{% extends "Machine/layout.html" %}
{% block title %}
About
{% endblock %}
{% block content %}
{% load static %}
<center><div class="a">Music mood classification</div></center>
<br></br>
<center class="message">
        <table>
                <th>
                <div class="flip-box">
                  <div class="flip-box-inner">
                    <div class="flip-box-front">
                            <img src="{% static 'image/Tu.jpg' %}" height="200px" width="200px"padding-right: 3px/>
                    </div>
                    <div class="flip-box-back">
                      <h2>Ninh Van Tu</h2>
                    </div>
                  </div>
                </div>
                </th>
                <th>
                <div class="flip-box">
                  <div class="flip-box-inner">
                    <div class="flip-box-front">
                            <img src="{% static 'image/Nhan.jpg' %}" height="200px" width="200px"padding-right: 3px/>
                    </div>
                    <div class="flip-box-back">
                      <h2>Do Tri Nhan</h2>
                    </div>
                  </div>
                </div>
                </th>
                <th>
                <div class="flip-box">
                  <div class="flip-box-inner">
                    <div class="flip-box-front">
                            <img src="{% static 'image/Vy.jpg' %}" height="200px" width="200px"padding-right: 3px/>
                    </div>
                    <div class="flip-box-back">
                      <h2>Huynh Thanh Vy</h2>
                    </div>
                  </div>
                </div>
                </th>
                <th>
                <div class="flip-box">
                  <div class="flip-box-inner">
                    <div class="flip-box-front">
                            <img src="{% static 'image/Tan.jpg' %}" height="200px" width="200px"padding-right: 3px/>
                    </div>
                    <div class="flip-box-back">
                      <h2>Nguyen Hoang Tan</h2>
                    </div>
                  </div>
                </div>
                </th>
                <th>
                <div class="flip-box">
                  <div class="flip-box-inner">
                    <div class="flip-box-front">
                            <img src="{% static 'image/Tri.jpg' %}" height="200px" width="200px"padding-right: 3px/>
                    </div>
                    <div class="flip-box-back">
                      <h2>Nguyen Minh Tri</h2>
                    </div>
                  </div>
                </div>
                </th>
                </table>
</center> 
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>

<span class="message">SC203-Group24      </span>
<span class="message">17APCS2      </span>
<span class="message">Lecturer: Prof.Tran Minh Triet      </span>
<span class="message">T.A: Ninh Van Tu      </span>
<span class="message">Email: dtnhan@apcs.vn</span>
{% endblock %}